extends base

block emailContent
  p Hemos recibido tu solicitud de la historia clinica, verificaremos el documento y su identidad, y procederemos a enviar la historia clinica a su correo electronico suministrado.

  div(class="post-card")
    h3(class="post-card__title") #{title}
    p(class="post-card__content") #{content}